.azure-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.azure-toolbar {
  height: 48px !important;
  min-height: 48px !important;
  background-color: #ffffff !important;
  color: #0078d4 !important;
  border-bottom: 1px solid #dcdcdc;
  z-index: 1001;
  
  .app-brand {
    font-size: 16px;
    font-weight: 600;
  }
}

.sidenav-container {
  flex: 1;
}



.main-content-area {
  background-color: #f8f8f8 !important;
}

.spacer { flex: 1 1 auto; }