.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.global-loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  height: 4px;
}

.app-toolbar {
  height: 48px;
  min-height: 48px;
  background-color: var(--azure-blue);
  color: #ffffff;
  z-index: 1001;

  .app-brand {
    font-size: 16px;
  }
}

.main-content-area {
  background-color: var(--azure-bg-color);
  display: flex;
  flex-direction: column; // Changement pour mieux gérer les enfants flex
  align-items: stretch;
  box-sizing: border-box;
  flex: 1; // Prend tout l'espace disponible
  height: 100%;
  overflow-y: auto; // LE SCROLLBAR EST ICI : Il sera au bord droit de l'écran
  overflow-x: hidden;

  >* {
    width: 100%;
    // On ne met pas flex: 1 ici car c'est le conteneur du mat-sidenav-content
  }

}

.main-content {
  padding: 30px;
  min-height: 100%; // Retour à min-height pour permettre la croissance
  width: 100%;
  display: flex;
  flex-direction: column;

  // Cible n'importe quel composant injecté pour le forcer à s'étirer
  > *:not(router-outlet) {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
}

.sidenav-container {
  flex: 1;
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

/* Cible spécifiquement les boutons à l'intérieur d'une mat-toolbar */
.mat-toolbar {

  /* Force la couleur du texte et des icônes pour tous les boutons */
  .mat-mdc-button-base {
    --mat-toolbar-container-text-color: white;
  }

  /* Si c'est un bouton d'icône (mat-icon-button) */
  .mat-mdc-icon-button {
    color: white;
  }
}

.app-sidenav {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  background-color: #fefefe;
  width: 280px !important;
  border-right: 1px solid #dcdcdc !important;
  padding: 5px;

}

