html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sidenav-container {
  height: 100vh; /* 100% de la hauteur de vue */
  width: 100vw;
}

.app-sidenav {
  width: 260px;
  background-color: #fafafa;
  border-right: 1px solid #e0e0e0;
}

.main-content {
  padding: 24px;
}