<h2>Évolution du Portefeuille PEA</h2>

<div *ngIf="isLoading()" class="flex justify-center p-10">
  <p>Mise à jour des cours et calcul des cumuls...</p>
</div>

<div *ngIf="!isLoading() && chartSeries().length > 0">
  <mat-card appearance="outlined">
    <mat-card-content>
        <apx-chart [series]="chartSeries()" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
          [yaxis]="chartOptions.yaxis" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip">
        </apx-chart>
    </mat-card-content>
  </mat-card>
</div>