@use '@angular/material' as mat;

/* =========================================================
   Material 3 – Theme initialization
   ========================================================= */
html {
  height: 100%;

  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

:root {
  /* Couleurs personnalisées */
  --azure-bg-color: #eef5f9;
  --azure-blue: #083D77;

  /*** Affichage des boutons ***/
  /* La couleur du texte */
  --mat-button-filled-label-text-color: #ffffff;

  /* La couleur du fond (votre bleu moderne) */
  --mat-button-filled-container-color: #083D77;

  /* Pour les boutons au survol (optionnel) */
  --mat-button-filled-state-layer-color: rgba(255, 255, 255, 0.1);

  /* couleur pour les graph */
  --color-account-global: #083D77;
  --color-account-cc: #61C9A8;
  --color-account-savings: #F95738;
  --color-account-pea: #F4D35E;
  --color-account-life-insurrance: #EE964B;
  --color-success: #5ec26b;
  --color-danger: #FF4560;

  /* Navigation */
  --nav-active-bg: #BBBAC6;
  --nav-active-text: #ffffff;
  --nav-active-icon: #ffffff;
}

body {
  height: 100%;
  margin: 0;
  color-scheme: light;
  background-color: var(--azure-bg-color);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

/* Utilitaires de mise en page */
.section {
  max-width: 2200px;
  margin: 24px;
  padding: 24px 16px;
  box-sizing: border-box;
}

/* Force le fond blanc sur toutes les mat-card de l'application */
mat-card {
  --mdc-outlined-card-container-color: #ffffff !important;
  --mdc-elevated-card-container-color: #ffffff !important;
  background-color: #ffffff !important;
}

/* Force le fond blanc sur tous les expansion panels */
mat-expansion-panel {
  --mat-expansion-container-background-color: #ffffff !important;
  background-color: #ffffff !important;

  /* Optionnel : Si tu veux aussi que l'en-tête reste blanc au survol */
  mat-expansion-panel-header {
    background-color: #ffffff !important;

    &:hover {
      background-color: #fcfcfc !important;
      /* Un blanc cassé très léger au survol */
    }
  }
}

.summary-panel {
  display: flex;
  /* Aligne les enfants (mat-card) en ligne */
  gap: 16px;
  /* Espace entre les cartes */
  width: 100%;
  /* Utilise toute la largeur */
  margin-bottom: 24px;
  /* Espace avec le graphique en dessous */

  mat-card {
    flex: 1;
    /* Force chaque carte à prendre une part égale de la largeur */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* Centre le texte à l'intérieur des cartes */

    // Ajustement pour réduire les marges internes par défaut de mat-card-header si besoin
    mat-card-header {
      padding-bottom: 0;
      justify-content: center;
    }

    mat-card-title {
      font-size: 1.25rem !important;
      font-weight: bold;
      margin-bottom: 0 !important;
    }

    mat-card-content {
      padding-top: 8px;
      color: #666;
      font-size: 0.9rem;
      text-transform: uppercase;
    }
  }
}

/* Version responsive : on empile les cartes sur mobiles */
@media (max-width: 768px) {
  .summary-panel {
    flex-direction: column;
  }
}

h2 {
  color: #3A4752;
}

.main-content-area {
  .main-content {

    // Cible la balise button ou le sélecteur de base d'Angular Material
    button[mat-flat-button],
    button[mat-raised-button],
    .mat-mdc-button-base {
      margin-bottom: 12px; // Espace sous le bouton
      margin-right: 8px; // Espace entre deux boutons côte à côte
    }
  }
}


/* --- Personnalisation globale des Chips (MDC) --- */
:root {
  /* 1. Chips sélectionnées (Normales) */
  --mat-chip-elevated-selected-container-color: #1f4e8094;
  --mat-chip-selected-label-text-color: #ffffff;
  --mat-chip-with-icon-selected-icon-color: white;

  /* 2. Chips sélectionnées MAIS désactivées */
  --mat-chip-flat-disabled-selected-container-color: #1f4e8071;
}


.ag-root-wrapper {
  /* --- Couleurs de base --- */
  --ag-input-focus-border-color: #3f51b5 !important;
  --ag-range-selection-border-color: #3f51b5 !important;
  
  /* --- Checkbox (Toggle) --- */
  --ag-checkbox-checked-background-color: #3f51b5 !important;
  --ag-checkbox-checked-border-color: #3f51b5 !important;
  --ag-checkbox-checked-color: #ffffff !important; // Couleur de la coche
  
  /* --- Éléments de sélection --- */
  --ag-selected-row-background-color: rgba(63, 81, 181, 0.08) !important;
  
  /* --- Bordures générales --- */
  --ag-border-color: #e0e0e0 !important;
}

.ag-checkbox-input-wrapper {
  transform: scale(1.1);
}