:host {
    display: block;
    height: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-section {
    flex-shrink: 0;

    h2 {
        margin: 0 0 20px 0;
    }

    .summary-panel {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
}

.grid-section {
    display: flex;
    flex-direction: column;
}