@using BlazorApp.Components

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center">
            <DatabaseExport />
            <DatabaseSelector />
        </div>
        <article class="content px-4">

        </article>
    </main>
</div>
