::ng-deep .ag-root-wrapper {
  --ag-checkbox-checked-background-color: #3f51b5 !important;
  --ag-input-focus-border-color: #3f51b5 !important;
  
  .text-red-600 { color: #dc2626; font-weight: 600; }
  .text-green-600 { color: #16a34a; font-weight: 600; }
  
  .bg-yellow-100 { 
    background-color: #fef9c3 !important; 
    border-left: 3px solid #eab308 !important;
  }
}

.ag-cell {
  display: flex;
  align-items: center;
}