@using System.Text
@inject BlazorApp.Data.Services.CompteCourantService CompteService
@inject BlazorApp.Data.AppDbContext dbContext

@rendermode InteractiveServer


<h2>Importer un fichier</h2>

<InputFile OnChange="HandleFileSelected" />

<p>@message</p>

@* <button class="btn btn-primary" @onclick="ImportData">Importer</button> *@


@code {
    private string message = "";

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;

        message = "En cours...";

        try
        {
            using var stream = file.OpenReadStream();
            using var reader = new StreamReader(stream, System.Text.Encoding.UTF8);

            Console.WriteLine("Lecture du fichier");
            var content = await reader.ReadToEndAsync();
            
            message = $"Longueur du contenu: {content.Length}";

            // Déterminer banque → choisir bon parser
            var parser = BanqueCsvParserFactory.GetParser(content);

            if (parser == null)
            {
                message = "Parser non initialisé";
                return;
            }
                
            // Parser et transformer données
            List<Data.OperationCC>? Operations = parser.ParseCsv(new MemoryStream(Encoding.UTF8.GetBytes(content)));

            if (Operations == null)
            {
                message = "Pas d'opérations trouvées (null)";
                return;
            }

            Console.WriteLine($"Operations.Count = {Operations.Count}");

            if (!Operations.Any())
            {
                message = "Pas d'opérations trouvées (not Any())";
                return;
            }

            // 1️⃣ Charger tous les hash existants dans la base
            var existingHashes = dbContext.Operations
                .Select(o => o.Hash)
                .ToHashSet();

            Console.WriteLine($"Hashes : {existingHashes.Count}");

            // 2️⃣ Filtrer les nouvelles opérations
            var filteredOps = Operations
                .Where(op => !existingHashes.Contains(op.Hash))
                .ToList();

            Console.WriteLine($"filteredOps.Count : {filteredOps.Count}");

            // 3️⃣ Ajouter les opérations filtrées dans la base
            dbContext.Operations.AddRange(filteredOps);
            dbContext.SaveChanges();

            message = $"{filteredOps.Count} opérations ajoutées (sur {Operations.Count} lues)";
            
        }
        catch(Exception ex)
        {
            Console.WriteLine($"ERREUR CSV: {ex.Message}");
            message = $"Erreur: {ex.Message}";
        }

        
    }
}