@page "/importfiles"
@using System.Text
@inject BlazorApp.Data.Services.CompteCourantService CompteService
@rendermode InteractiveServer


<h1>Importer un fichier</h1>

<InputFile OnChange="HandleFileSelected" />

<p>@message</p>

@* <button class="btn btn-primary" @onclick="ImportData">Importer</button> *@


@code {
    private string message = "";

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;

        message = "En cours...";

        try
        {
            using var stream = file.OpenReadStream();
            using var reader = new StreamReader(stream, System.Text.Encoding.UTF8);

            Console.WriteLine("Lecture du fichier");
            var content = await reader.ReadToEndAsync();
            
            message = $"Longueur du contenu: {content.Length}";

            // Déterminer banque → choisir bon parser
            var parser = BanqueCsvParserFactory.GetParser(content);

            message = parser?.ToString();

            // Parser et transformer données
            List<Data.OperationCC>? Operations = parser?.ParseCsv(new MemoryStream(Encoding.UTF8.GetBytes(content)));

            // Import en base
            foreach (var Operation in Operations)
            {
                await CompteService.AddAsync(Operation);
            }

            message = $"Import terminé ({Operations.Count} opérations)";
        }
        catch(Exception ex)
        {
            Console.WriteLine($"ERREUR CSV: {ex.Message}");
            message = $"Erreur: {ex.Message}";
        }

        
    }
}