@rendermode InteractiveServer

<h1>Input</h1>

<input @onchange="InputChanged" />
<p> @message </p>

@code {
    string message = "";

    void InputChanged(ChangeEventArgs e)
    {
        message = (string)e.Value;
    }
}