@page "/statsdb"
@rendermode InteractiveServer

@using BlazorApp.Data
@using BlazorApp.Data.Services
@using Microsoft.EntityFrameworkCore;

@using BlazorApp.Components.Shared
@using BlazorApp.Components.Features.ComptesCourant
@inject FiltersState Filters
@inject AppDbContext Db

<h1>Stats</h1>

<select class="form-select" @bind="SelectedStat" @bind:after="OnOptionChanged">
    <option value="A">Nombre d'opération par mois</option>
    <option value="B">Incohérences à corriger</option>
</select>

@if (SelectedStat == "A")
{
    <NbOperationsPerMonth />
}
else if (SelectedStat == "B")
{
    // <ErrorsInDb />
}
else
{
    <p>Stat inconnue</p>
}


@code {
    private string SelectedStat = "A";

    public void OnOptionChanged()
    {

    }
}
