.active-link {
  background: rgba(89, 74, 226, 0.1) !important; // Violet transparent
  color: #594ae2 !important;
  
  mat-icon {
    color: #594ae2;
  }
}

.sub-menu {
  padding-left: 12px;
}

.group-title {
  margin-left: 12px;
  font-weight: 500;
}

mat-expansion-panel {
  background: transparent !important;
}