.group-title {
  font-size: 11px;
  margin: 15px 0 5px 0;
  font-weight: bold;
  color: #3a4752;
  padding: 0 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.active-link {
    background-color: var(--nav-active-bg);

    .mdc-list-item__primary-text {
        color: var(--nav-active-text) !important;
    }

    mat-icon {
        color: var(--nav-active-icon);
    }
}

.group-title {
  &.title-savings { color: var(--color-account-savings); }
  &.title-finance { color: var(--color-account-pea); }
  &.title-cc { color: var(--color-account-cc); }
  &.title-life-insurrance { color: var(--color-account-life-insurrance); }
}

