
/* On garde le style pour la zone de résultat qui est lié au champ 'category' */
::ng-deep .ag-cell[col-id="category"] {
    font-weight: 600;
    display: flex;
    align-items: center;
}

::ng-deep {
  /* On force l'opacité à 1 quand la ligne est survolée */
  .ag-row-hover .delete-btn {
    opacity: 1 !important;
  }

  /* On s'assure que le conteneur du renderer laisse passer l'icône */
  .delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}