::ng-deep .ag-root-wrapper {
  /* --- Couleurs de base --- */
  --ag-input-focus-border-color: #3f51b5 !important;
  --ag-range-selection-border-color: #3f51b5 !important;
  
  /* --- Checkbox (Toggle) --- */
  --ag-checkbox-checked-background-color: #3f51b5 !important;
  --ag-checkbox-checked-border-color: #3f51b5 !important;
  --ag-checkbox-checked-color: #ffffff !important; // Couleur de la coche
  
  /* --- Éléments de sélection --- */
  --ag-selected-row-background-color: rgba(63, 81, 181, 0.08) !important;
  
  /* --- Bordures générales --- */
  --ag-border-color: #e0e0e0 !important;
}

/* On garde le style pour la zone de résultat qui est lié au champ 'category' */
::ng-deep .ag-cell[col-id="category"] {
    font-weight: 600;
    display: flex;
    align-items: center;
}

/* Optionnel : Agrandir un peu la checkbox pour le look Material */
::ng-deep .ag-checkbox-input-wrapper {
  transform: scale(1.1);
}

::ng-deep {
  /* On force l'opacité à 1 quand la ligne est survolée */
  .ag-row-hover .delete-btn {
    opacity: 1 !important;
  }

  /* On s'assure que le conteneur du renderer laisse passer l'icône */
  .delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}