@page "/ListCategories"
@using BudgetTrackerApp.Data
@using BudgetTrackerApp.Models
@using BudgetTrackerApp.Services
@using System.Data
@using Microsoft.EntityFrameworkCore
@using System.Threading.Tasks

@inject DatabaseSelectorService DbSelector
@inject IDbContextFactory<AppDbContext> DbFactory
@inject CategoryService CategoryService

@rendermode InteractiveServer

<p>Liste depuis la BDD. Editable (ajout, suppr ?, renommage)</p>
<p>Si renommage : rechercher remplacer dans les Catégories de la BDD</p>

<MudText Typo="Typo.h4" Class="my-8">Liste des Catégories</MudText>

<MudTable Items="@categories" Dense="true" Hover="true" Bordered="false" Striped="true" >
    <HeaderContent>
        <MudTh>Nom</MudTh>
        <MudTh>Type</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Date">
            <MudTextField @bind-Value="@context.Name" Margin="Margin.Dense" Variant="Variant.Outlined"
                        OnBlur="() => SaveCategory(context)" />
        </MudTd>
        <MudTd DataLabel="Description">
            <MudTextField @bind-Value="@context.Type" Margin="Margin.Dense" Variant="Variant.Outlined"
                        OnBlur="() => SaveCategory(context)" />
        </MudTd>
    </RowTemplate>
</MudTable>


@code
{
    private bool IsLoading { get; set; } = false;

    public List<CategoryRule> resultatRules { get; set; } = new();

    private List<Category> categories = new();

    protected override async Task OnInitializedAsync()
    {
        categories = await CategoryService.GetAllCategoriesAsync();

        // 🔥 On s’abonne pour être notifié du changement
        DbSelector.OnChange += RefreshOnChange;
    }


    private async Task SaveCategory(Category cat)
    {
        using var db = DbFactory.CreateDbContext();

        db.Attach(cat);
        db.Entry(cat).State = EntityState.Modified;

        await db.SaveChangesAsync();
    }

    private async Task RefreshOnChange()
    {
        await CategoryService.GetAllCategoriesAsync();

        // 🔥 Important : on repasse sur le thread UI
        await InvokeAsync(StateHasChanged);
    }


    public void Dispose()
    {
        // 🔥 Toujours se désabonner pour éviter les fuites mémoire
        DbSelector.OnChange -= RefreshOnChange;
    }
}