@page "/"
@using Microsoft.Extensions.WebEncoders.Testing
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<h1>Perso</h1>

<p>Texte perso</p>

<DatabaseSelector />

