<h2>Situation actuelle</h2>

<div class="summary-panel" *ngIf="lastPoint() as lp">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title [style.color]="'var(' + getAccountColorVar('cc') + ')'">
                {{ lp.cash | number:'1.0-0' }} €
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span>Liquidités</span>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title [style.color]="'var(' + getAccountColorVar('savings') + ')'">
                {{ lp.savings | number:'1.0-0' }} €
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span>Épargne</span>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title [style.color]="'var(' + getAccountColorVar('pea') + ')'">
                {{ lp.pea | number:'1.0-0' }} €
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span>PEA</span>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title [style.color]="'var(' + getAccountColorVar('life-insurrance') + ')'">
                {{ lp.lifeInsurance | number:'1.0-0' }} €
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span>Assur. Vie</span>
        </mat-card-content>
    </mat-card>
</div>

<h2>Historique</h2>

<mat-card appearance="outlined">
    <mat-card-content>
        <div id="chart" *ngIf="rawData().length > 0">
            <mat-radio-group [ngModel]="viewMode()" (ngModelChange)="viewMode.set($event)"
                class="view-mode-radio-group">
                <mat-radio-button value="accountType">Par type de compte</mat-radio-button>
                <mat-radio-button value="liquidity">Par liquidité</mat-radio-button>
            </mat-radio-group>

            <apx-chart [series]="chartSeries()" [chart]="chartOptions.chart!" [xaxis]="chartXAxis()"
                [colors]="chartColors()" [stroke]="chartOptions.stroke!" [dataLabels]="chartOptions.dataLabels!"
                [yaxis]="chartOptions.yaxis!" [fill]="chartOptions.fill!" [tooltip]="chartOptions.tooltip!"
                [legend]="chartOptions.legend!">
            </apx-chart>
        </div>
    </mat-card-content>
</mat-card>



<div class="loading-state" *ngIf="rawData().length === 0">
    Chargement des données historiques... LOADING
</div>