.highlight-card {
  // 1. On épaissit la bordure et on utilise la couleur globale
  border: 2px solid var(--mdc-outlined-card-outline-color, #e0e0e0); 
  border-color: var(--color-account-global, --mat-sys-primary, #673ab7); // Ou utilise ta variable getAccountColorVar('global')
  
  // 2. On ajoute une ombre pour donner du relief
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  // 3. Optionnel : un fond très légèrement teinté pour la distinguer
//   background-color: rgba(var(--mat-sys-primary-rgb, 103, 58, 183), 0.04);
  
  // 4. On peut l'agrandir très légèrement (échelle 1.02)
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;

  margin-right: 20px;
  margin-left: 20px;

  mat-card-title {
    font-size: 2rem; // On booste un peu la taille du montant total
    font-weight: 1000;
  }
}